.main-header { 
    display: 'flex';
    flex-direction: 'row-reverse';
    justify-content: space-between;
    align-items: 'left';
    justify-items: 'center'; 
    background-color: rgb(121,78,189);
    height: 100;
    padding-top : 20, 
    }
 
 